*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--light-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --dark-color: #272635;
  --green-color: #3AD08F;
  --light-color: #F4F5F9;
  --green-hover-color: #80ed99;
  --grey-color: #adb5bd;
  --light-grey-color: #dadada;
}

.modal {
  border-radius: 60px !important;
  padding: .5rem 2rem;
}

